<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
</head>

<body>
    <table id="footer" th:fragment="footer">
        <tr>
            <td class="footer-description">
                Powered By: FlexEHR Healthcare Private Limited.
            </td>
            <td class="footer-pagination">
                Page <span id="page-number"></span> out of <span id="page-count"></span>
            </td>
        </tr>
    </table>
</body>

