<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Header</title>
</head>

<body>

<!-- HOSPITAL HEADER -->
<div id="header" th:fragment="header">
    <table>
        <tr th:if="${ HOSPITAL_LOGO_BASE64 != null and not #strings.isEmpty(HOSPITAL_LOGO_BASE64) }">
            <th style="width: 50px;"></th>
            <th></th>
        </tr>
        <tr>
            <td th:if="${ HOSPITAL_LOGO_BASE64 != null and not #strings.isEmpty(HOSPITAL_LOGO_BASE64) }">
                <img class="logo" style="width: 100px;" th:src="'data:image/png;base64,' + ${ HOSPITAL_LOGO_BASE64 }"/>
            </td>
            <td>
                <table class="header-info">
                    <tr>
                        <td>
                            <h1 class="hospital-name"><span th:text="${HOSPITAL_NAME}"></span></h1>
                            <p class="address">
                                <span th:text="${HOSPITAL_ADDRESS}"></span>
                            </p>
                        </td>
                        <td>
                            <p><b>Phone: </b><span th:text="${HOSPITAL_PHONE_NUMBER}"></span></p>
                            <p><b>Email: </b><span th:text="${HOSPITAL_EMAIL_ID}"></span></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <hr/>
</div>

</body>

