<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>

</head>
<body>
<div th:fragment="patient-details">
    <!-- Patient Information Table -->
    <table class="patient-info">
        <tr>
            <td class="info-left">
                <p class="info-label"><b>MRD No:</b> <span th:text="${MRD_NUMBER}"></span></p>
            </td>
            <td class="info-right">
                <p class="info-label">
                    <b>Patient:</b> <span th:text="${PATIENT_FULL_NAME}"></span>
                    <b> / Age:</b> <span th:text="${AGE}"></span>
                    <b> / Gender:</b> <span th:text="${GENDER}"></span>
                </p>
            </td>
        </tr>

        <tr>
            <td class="info-left">
                <p class="info-label"><b>Contact Number:</b> <span th:text="${MOBILE_NUMBER}"></span></p>
            </td>
            <td class="info-right">

                <p class="info-label"><b>Address:</b> <span th:text="${PATIENT_ADDRESS}"></span></p>
            </td>
        </tr>

        <tr>
            <td class="info-left">
                <p class="info-label"><b>Doctor's Name:</b> <span th:text="${DOCTOR_NAME}"></span></p>
            </td>
            <td class="info-right">
                <p class="info-label"><b>Appointment ID:</b><span th:text="${APPOINTMENT_ID}"></span></p>
            </td>
        </tr>
    </table>
    <hr/>
</div>

</body>
</html>