<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SAMPLE PDF</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/footer.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{static/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{static/css/common.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>