<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{static/assets/favicon.ico}" />
    <title>SAMPLE PDF</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/patient-details.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/footer.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1 class="t-title">OPD Report</h1>
<div th:replace="~{fragments/patient-details :: patient-details}"></div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>