#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-description {
    text-align: left;
}

.footer-pagination {
    text-align: right;
}

#page-number::after {
    counter-increment: page;
    counter-reset: page 1;
    content: counter(page);
}

#page-count::after {
    content: counter(pages);
}